<main class="main-content">
    <header class="header">
        <h1>Welcome <%= user.name %>,</h1>
        <p>Here's your overview for today.</p>
    </header>

    <!-- Stats Section -->
    <section class="stats">
        <div class="stat-item">
            <h3>Total Goods Bought</h3>
            <p>--</p>
        </div>
        <div class="stat-item">
            <h3>Total Goods Sold</h3>
            <p>--</p>
        </div>
        <!-- <div class="stat-item">
            <h3>Learn Modules Completed</h3>
            <p>--</p>
        </div>
        <div class="stat-item">
            <h3>Jobs Applied</h3>
            <p>--</p>
        </div> -->
    </section>
</main>